<div id="my-metamod-menu">

<div class="menu-item">
    <a href="[% c.uri_for('/upload') %]">Upload files</a>
</div>

<div class="menu-item">
    <a href="[% c.uri_for('/upload/test') %]">Test a file</a>
</div>

</div>
