<div class="level2-menu" id="upload-menu">

<div class="level2-menu-item">
    <a href="[% c.uri_for('/upload') %]">Upload files</a>
</div>

<div class="level2-menu-item">
    <a href="[% c.uri_for('/upload/test') %]">Test a file</a>
</div>

</div>
