[% IF data %]

<p style="color: red">[% data %]</p>

[% END %]


<h2 class="std">[% app.upload.test.title %]</h2>

<p>[% app.upload.test.text %]</p>

<form enctype="multipart/form-data" action="[% c.uri_for('/upload/test') %]" method="post">

[% app.upload.filename %]: <input name="data" type="file" />

<input class="selectbutton1" type="submit" name="BTN_upload" value="[% ui.button.upload %]" />

</form>
