body {
   background: #d1e0e1;
   margin: 1em 0px;
   padding: 0px;
   position: auto;
   font-family: arial, verdana, sans-serif;
   text-align: center;
}
.mybody {
   width: 901px;
   margin: 18px auto;
   background: #ffffff;
   position: auto;
   display: inline-table;
   text-align: left;
}
.myfooter {
   background-image: url(damocles-footer.gif);
   background-repeat: no-repeat;
   clear: both;
   height: 42px;
   display: block;
}
.main_structure {
   border-left: 3px solid white;
   border-right: 3px solid white;
   padding: 0px;
   background: white;
}
.main_menu {
   height: 100px;
   width: 180px;
   border-left: 0px;
   border-top: 0px;
   border-right: 0px;
   margin: 0px;
   padding: 0px;
}
.mm_item {
   display: block;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 80%;
   text-align: left;
   color: #0a2c94;
   background: white;
   width: 170px;
   height: 12px;
   margin: 0;
   margin-right: 15px;
   margin-top: 4px;
   border: 0px;
   border-bottom: 1px solid #103099;
   padding: 0;
   padding-top: 2px;
   padding-left: 2px;
}
.xmm_item {
   display: block;
   text-decoration: none;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 80%;
   text-align: left;
   color: #0a2c94;
   background: white;
   width: 170px;
   height: 12px;
   margin: 0;
   margin-right: 15px;
   margin-top: 4px;
   border: 0px;
   border-bottom: 1px solid #103099;
   padding: 0;
   padding-top: 2px;
   padding-left: 2px;
}
.heading_and_logo {
   background: white; 
   color: #103099;
   text-align: left;
   border-left: 0px;
   border-top: 0px;
   border-right: 0px;
   margin: 0px;
   padding: 0px
}
.heading {
   font-size: 150%;
   background-image: url(aboutheader.gif);
   background-repeat: no-repeat;
   color: #103099;
   height: 37px;
   padding: 0px;
   padding-top: 11px;
   padding-left: 12px;
   margin: 0px;
   margin-top: 15px;
   margin-bottom: 6px;
}
.heading_info {
   background: white;
   color: black;
   padding: 2px;
   margin: 1px;
   margin-bottom: 12px;
}
.note {
   background: white;
   color: #990000;
   font-size: 100%;
   font-weight: bold;
   width: 95%;
   padding: 8px;
   border: 1px solid #103099;
   margin: 1px;
}
td {margin: 0px; padding: 0px; vertical-align: top}
th {margin: 0px; padding: 0px; vertical-align: top}
form {margin: 0px; padding: 0px; vertical-align: top}
