[%# this is an empty template. If you want to use custom texts just let
   update_target.pl override this file.
%]

[%

# some useful configuration items:

#app.search.title = "Hello, world!"
#clickable_thumbs = 1
#ui.button.wms_client_resultpage = ''
#wms.client.slideshow.delay = 5000 # ms
#wms.client.slideshow.disabled = 1

%]
