<h1 class="std">Reset password</h1>

[% INCLUDE 'user_msgs.tt' %]

<p>

Enter your user name and click "Reset password" to get a new password sent to
your email address.

</p>

<form name="reset_password" action="[% c.uri_for('/login/reset_password' ) %]" method="POST">
<label for="username">Username</label>
<input type="text" name="username" id="username" value="[% c.req.params.username %]" />
<input type="submit" value="Reset password" />
</form>