[%  USE date;
    local_url = mm_config.get('LOCAL_URL')
%]# Generated dynamically by METAMOD on [% date.format %]

User-agent: Baiduspider
User-agent: Baiduspider-video
User-agent: Baiduspider-image
Disallow: /

User-agent: *
Disallow: [% local_url %]/search/
Disallow: [% local_url %]/subscription
Disallow: /images
Crawl-delay: 180
