
<div class="inside level2-active-area">
<form name="search_form" id="search_form" method="GET" action="/search/help">
[% INCLUDE search/keep_search_params.tt category_id = 'none', category_type = 'none' %]
</form>

<table cellspacing="5" border="0">
    <tr>
        <td>
            [% INCLUDE 'search/help_text.tt' %]
        </td>
    </tr>
</table>

</div>
