<form name="search" method="GET" action="[% c.uri_for( '/search/page/1/result' ) %]" id="search_form">

[% INCLUDE search/keep_search_params.tt category_type = 'none' category_id = 'none' %]

[% app.search.presentation_html %]

</form>
