[% SET html_id = search_ui_utils.html_id_for_freetext( category.sc_id ) %]

<p class="help">[% app.search.text_search_help %]</p>

<label for="[% html_id %]">[% ui.button.match_txt %]</label>
<input type="text" size="50" id="[% html_id %]" name="[% html_id %]" value="[% c.req().param( html_id ) %]" />
