<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>WMS client</title>
        <link rel="stylesheet" href="[% c.uri_for('/static/css/reset.css') %]" />
        <link rel="stylesheet" href="[% c.uri_for('/static/css/base.css') %]" />
        <link rel="stylesheet" href="[% c.uri_for('/static/css/main.css') %]" />

        <link rel="stylesheet" href="[% c.uri_for('/static/css/openlayers_theme/default/style.css') %]" type="text/css" />
        <!--link rel="stylesheet" href="style.css" type="text/css" /-->
        <link rel="stylesheet" href="[% c.uri_for('/static/css/wms.css') %]" type="text/css" />
        <style type="text/css">
            .ui-state-default {
                background-image: url("[% c.uri_for('/static/css/metamod_theme/images/ui-bg_highlight-soft_100_hack_1x100.png') %]") !important;
            }
        </style>

        <link rel="stylesheet" href="[% c.uri_for('/static/css/metamod_theme/jquery-ui.css') %]" />
        <script type="text/javascript" src="[% c.uri_for('/static/js/jquery.min.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/js/jquery-ui.min.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/lib/OpenLayers.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/js/TimeSlider.js') %]"></script>
        <script type="text/javascript" src="[% c.uri_for('/static/lib/log4javascript-1.4.6/js/log4javascript.js') %]"></script>
        <script type="text/javascript">
            var log = log4javascript.getLogger();
            log4javascript.logLog.setAlertAllErrors(true);
            var appender = new log4javascript.BrowserConsoleAppender();
            log.addAppender(appender);
        </script>

        <script type="text/javascript">
            // making this a global variable so that it is accessible for debugging/inspecting in Firebug
            var map = null;
            var ds_id = [% datasets.0.ds_id || 'undefined' %];
            var wmcpath      = "[% c.uri_for( '/gc2wmc',   c.req.params ) %]";
            var wmcstub      = "[% c.uri_for( '/gc2wmc' ) %]";
            var multiwmcpath = "[% c.uri_for( '/multiwmc', c.req.params ) %]";
        </script>
        <script type="text/javascript" src="[% c.uri_for('/static/js/wms.js') %]"></script>
        <script type="text/javascript">
            [% USE JSON.Escape( pretty => 1 ) %]
            var projnames    = [% projections.json %];
        </script>

    </head>
    <body onload="init()">

        <form>
            <div class="container">
                <div id="map" class="largemap"></div>
                <div id="accordion"></div>
            </div>
        </form>

        <div id="docs"><p id="warning">Javascript must be enabled for WMS client to work!</p></div>
        <!--<div id="tags"></div>-->

        <div id="formcontainer" style="position: absolute; top: 0px; left: 50px; z-index: 1000">

            [% IF datasets.0.ds_id # size is 1 even if empty... %]

                [% IF false # disabled since multiple dataset support is broken in 2.11 %]

                    <form name="form1" id="form1" action="#" style="">
                        <label>Dataset:
                            <select name="dataset" id="dataset" onChange="changeFile(this[this.selectedIndex].value)">
                                [% FOR ds IN datasets %]
                                    <option value="[% ds.ds_id %]">[% ds.ds_name %]</option>
                                [% END %]
                            </select>
                        </label> [% # datasets.size %]
                    </form>
                [% END %]

                <form name="form2" id="form2" action="#" style="">
                    <label>Projection:
                        <select name="crs" id="crs" onChange="changeCRS(this[this.selectedIndex].value)">
                        </select>
                    </label> [% # datasets.size %]
                </form>

                <span id="shortdesc"><!--Data file (direct): --></span>

            [% ELSE %]
                <form name="form1" id="form1" action="#" style="">
                    <button type="button" onclick="history.back()">Back to menu</button>
                </form>
            [% END %]

        </div>

        <div id="timesliderId" style="position: absolute; bottom: 5px; left: 5px; z-index: 1000; width: 300px;"></div>

    </body>
</html>
