.loginform {
   margin: 0px;
   margin-top: 5px;
   padding: 10px;
   border-bottom: 1px solid #4d4d8d;
   border-top: 1px solid #4d4d8d;
   border-right: 1px solid #4d4d8d;
   font-size: 90%;
   color: black;
   background: #d2f2f4
}
.inputform {
   padding: 0;
   padding-top: 6px;
   padding-left: 2px;
   background: #ecfbfb
}
.filetable {
   background: white;
}
.dirlist {
   background: white;
   font: 120% monospace
}
.selectbutton1 {
   display: block;
   text-decoration: none;
   font-variant: small-caps;
   font-size: 90%;
   text-align: left;
   color: white;
   background: #5090b9;
   width: 110px;
   height: 28px;
   margin: 1px;
   border: 4px;
   border-style: outset;
   border-color: #5090b9;
}
