
<form name="search_form" id="search_form" method="POST" action="[% c.uri_for('/search/collectionbasket/empty_basket' ) %]">

    <p>[% app.basket.confirm_empty | eval %]</p>

    <input type="submit" name="empty_basket" value="[% ui.button.empty_basket %]" />
    <input type="submit" name="empty_basket" value="[% ui.button.cancel %]" />

</form>

