Source: metno-metamoddb-2.10
Priority: extra
Maintainer: Heiko Klein <heiko.klein@met.no>
Build-Depends: debhelper (>=5)
Standards-Version: 3.7.3
Section: web

Package: metno-metamoddb-2.10
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: postgresql, postgresql-contrib, postgis, postgresql-8.4-postgis | postgresql-8.3-postgis
Recommends: postgresql-client
Suggests:
Conflicts:
Replaces:
Provides:
Description: Virtual package for postgres database for metamod2.
