Source: metno-metamoddb-2.13
Priority: extra
Maintainer: Geir Aalberg <geira@met.no>
Build-Depends: debhelper (>=5)
Standards-Version: 3.7.3
Section: web

Package: metno-metamoddb-2.13
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: postgresql, postgresql-contrib, postgis, postgresql-9.1-postgis
Recommends: postgresql-client
Suggests:
Conflicts:
Replaces:
Provides:
Description: Virtual package for postgres database for metamod2.
