
.menu { line-height: 1.3; }
.bgblue { background-color: #aaaaff; }


form.editxml textarea {
    width: 90%;
    height: 300px;
}

.error {
    color: red;
}

pre.error {
    font-size: small;
}

table.list tr td {
    padding: 3px 8px 4px 8px;
    border-bottom: solid 1px #AAAAFF;
}
