div.btns{
	zoom:1;
	white-space:nowrap;
}

div.btns:after
{
	display:block;
	clear:both;
	content:'';
}

div.btns a.btn,
div.btns a.visual,
div.btns a.visualimg
{
	float:left;
	color: black;
	background:buttonface url(../img/button-2.gif) no-repeat;cursor:pointer;font-size:0;text-align:center;
	text-align:center;
	display:block;
	_width:120px;
	min-width:100px;
	text-decoration:none;
	margin:3px 2px;
}

div.btns a.btn2
{
	/*float:left;*/
	color: black;
	background:buttonface url(../img/button-2.gif) no-repeat;cursor:pointer;font-size:0;text-align:center;
	text-align:center;
	display:block;
	width:25px;
	text-decoration:none;
	margin:3px 2px;
}

div.btns a.btn:hover span,
div.btns a.visual:hover span,
div.btns a.visualimg:hover span,
div.btns a.btn2:hover span,
{

	opacity:0.6;
	filter:alpha(opacity:80);
}

div.btns a.btn span,
div.btns a.btn2 span,
div.btns a.visual span,
div.btns a.visualimg span
{
	padding:3px 8px 4px 8px;

	text-align:center;
	position:relative;
	left:1px;top:1px;
	display:block;
	text-decoration:none;
	background:url(../img/button.gif) right bottom no-repeat;
	font:x-small/1 Verdana;
	color:#222;

}
