
body {
    font-size: 10pt;
    line-height: 14pt;
    font-family: Sans, sans-serif;
    margin: 20 20 20 260;
}

h1 { font-size: 24pt;  }
h2 { font-size: 18pt; border-top: 1px solid #eeeeee; padding-top: 13px; }
h3 { font-size: 14pt}
h4 { font-size: 12pt}
h5 { font-size: 10pt}

a.u { color: #999999; text-decoration: none; }
h1 a.u { color: #003366; }
/*h2 a.u { color: #666666; }*/
/*h3 a.u { color: #666666; }*/
/*h4 a.u { color: #666666; }*/
/*h5 a.u { color: #666666; }*/

p {
    font-family: "Bitstream Charter", Serif, serif;
    font-size: 11pt;
}

pre {
    background-color: #eeeeff;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 11px;
    padding: 4 4 4 4;
}

dt a {
    color: #660000;
}

div.indexgroup {
    position: fixed;
    top:20;
    left:0;
    width:240px;
    background-color: #ddddee;
}

ul.indexList {
    list-style: none;
    padding-left: 7;
    font-size: 9pt;
}

li.indexitem {
    padding: 3 3 3 3;
}

li.indexitem a {
    text-decoration: none;
    color: #000066;
}
