Source: metno-metamod-2.14
Priority: extra
Maintainer: Geir Aalberg <geira@met.no>
Build-Depends: debhelper (>=5), perl, make, fakeroot, cpanminus, libproj-dev, libgdbm-dev, libpng-dev, libnetcdf-dev, libexpat1-dev, libxml2-dev, libxslt1-dev, libssl-dev
Standards-Version: 3.7.3
Section: web

Package: metno-metamod-2.14
Section: web
Priority: optional
Architecture: amd64
Essential: no
Depends: apache2, postgresql-client-common, postgresql-client, libdbd-pg-perl, pdl, proj | libproj0, libimager-perl, libxml2, libxslt1.1, libexpat1, pkg-config, libgdbm3, libxml2-utils, xinetd, check-mk-agent, curl, libidn11, libidn11-dev, libpdl-netcdf-perl
# libgeo-proj4-perl, libpdl-netcdf-perl, libconfig-tiny-perl,
Pre-Depends: perl
Recommends: exim4 | postfix | sendmail, bsd-mailx, libxml2-utils, postgresql, postgresql-contrib, postgis, postgresql-9.1-postgis | postgresql-9.3-postgis-2.1, ntp, fimex
#Suggests: metamod2-database
Conflicts:
Replaces:
Provides: metamod-2
Description: portal solution providing Discovery, Access and Retrieve functionality for scientific datasets

