Source: metno-metamod-2.10
Priority: extra
Maintainer: METAMOD Team <oystein.torget@met.no>
Build-Depends: debhelper (>=5), perl
Standards-Version: 3.7.3
Section: web

Package: metno-metamod-2.10
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: metno-perl-webdev-ver1
Pre-Depends: perl
Recommends: exim4 | postfix | sendmail, libxml2-utils, mailx
Suggests: metamod2-database
Conflicts:
Replaces:
Provides: metamod-2
Description: Installation packages for metamod instances, i.e. portals for geographical metadata handling.
