.m_item {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 70%;
   text-align: left;
   color: #0a2c94;
   background: white;
   width: 125px;
   margin: 0;
   margin-right: 15px;
   margin-top: 8px;
   border: 0px;
   padding: 0;
   padding-top: 2px;
   padding-bottom: 1px;
   padding-left: 2px;
}
.xm_item {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 80%;
   text-align: left;
   color: #0a2c94;
   background: white;
   width: 125px;
   height: 13px;
   margin: 0;
   margin-right: 15px;
   margin-top: 8px;
   border: 0px;
   padding: 0;
   padding-top: 2px;
   padding-bottom: 1px;
   padding-left: 2px;
}
.om_item {
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 80%;
   text-align: left;
   color: white;
   background: #6498c1;
   height: 12px;
   margin: 12px;
   margin-left: 0;
   padding: 2px;
}
.om_item a {
   text-decoration: none;
   color: white;
}
.om_item a:visited {
   text-decoration: none;
   color: white;
}
.indented {
   padding-left: 4px;
   padding-right: 8px;
   padding-top: 2px;
   padding-bottom: 2px;
   border: 1px solid #103099;
   margin: 0;
   margin-left: 16px;
   margin-bottom: 2px;
   background: #a0eefa;
   width: 78%;
   font-size: 80%
}
.basicselect {
   background: #d2f2f4;
   color: black;
   font-size: 100%;
   padding: 20px;
   border: 1px solid #103099;;
   border-top: 0;
   margin: 0;
   width: 100%;
}
.checkboxtext {
   background: #d2f2f4;
   color: black;
   font-size: 90%;
   padding: 4px;
   margin: 1px;
}
.hkkeyword {
   background: #d2f2f4;
   color: #000099;
   text-decoration: none;
   font-size: 90%;
   height: 18px;
   padding: 1px;
   margin: 1px;
   border: 0px;
}
.hkplusminus {
   background: white;
   color: #000099;
   font-size: 90%;
   width: 18px;
   height: 18px;
   padding: 1px;
   margin: 1px;
   border: 1px solid black;
}
.selectbutton {
   display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 70%;
   text-align: left;
   color: white;
   background: #6498c1;
   width: 110px;
   height: 28px;
   margin: 1px;
   border: 4px;
   border-style: outset;
   border-color: #6498c1;
}
.orange {
   background: #d2f2f4;
   color: #103099;
   padding: 5px;
   border: 1px solid #103099;
}
.usualheader {
   height: 150px;
   width: 100%;
   background: #d2f2f4;
   color: #103099;
   text-align: left;
   border: 1px solid #103099;
   border-bottom: 0;
   margin: 0;
}
.usualheader p {
   padding-left: 4px;
}
.usualheader center {
   margin-top: 4px;
}
.tdresult {
   background: #ecfbfb;
   border: 1px solid #a0eefa;
   color: black;
}
.tdresult p {
   background: #ecfbfb;
   color: black;
   margin: 0;
   border: 0;
   margin-left: 6px;
   margin-bottom: 6px;
}
.help {
   width: 95%;
   color: black;
   border: 1px solid #103099;
   margin: 0;
}
.help p {
   margin-bottom: 6px;
   padding-left: 6px;
   width: 95%;
}
.help ul li {
   margin-bottom: 6px;
   margin-left: 0;
   border-left: 0;
   padding-left: 0;
   width: 95%;
}
.help ol li {
   margin-bottom: 3px;
   margin-top: 3px;
   margin-left: 0;
   border-left: 0;
   width: 95%;
}
.emph {
   color: #103099;
   font-weight: bold;
}
.hhd1 {
   color: #027abb;
   font-size: 1.4em;
   margin-bottom: 0.5em;
}
.hhd2 {
   color: #027abb;
   font-size: 1.2em;
   margin-bottom: 0.3em;
}
.hhd1c {
   color: #027abb;
   font-size: 1.2em;
}
.hhd1c a:visited {
   text-decoration: none;
   color: #027abb;
}
.hhd1c a:link {
   text-decoration: none;
   color: #027abb;
}
.hhd2c {
   color: #027abb;
   font-size: 1.0em;
   padding-left: 10px;
   text-decoration: none;
}
.hhd2c a:visited {
   text-decoration: none;
   color: #027abb;
}
.hhd2c a:link {
   text-decoration: none;
   color: #027abb;
}
