<tr>
    <td class="quest_label">
        <label for="quest_[% element.name %]">[% element.label | html %]</label>
    </td>
</tr>

<tr>
    <td class="quest_field">
        <input
            type="text"
            name="quest_[% element.name %]"
            id="quest_[% element.name %]"
            value="[% quest_data.item( element.name ).0 | html %]"
            size="[% element.length %]"
            maxlength="[% element.size %]"
            />
    </td>
</tr>
