<tr>
    <td class="quest_label">
        <label for="[% element.name %]">[% element.label | html %]</label>
    </td>
</tr>

<tr>
    <td class="quest_field">
        <textarea
            name="[% element.name %]"
            id="[% element.name %]"
            rows="[% element.height %]"
            cols="[% element.length %]"
            >[% quest_data.item( element.name ) | html %]</textarea>
    </td>
</tr>
