<tr>
    <td class="quest_label">
        <label for="[% element.name %]">[% element.label | html %]</label>
    </td>
</tr>

<tr>
    <td class="quest_field">
        <input
            type="text"
            name="[% element.name %]"
            id="[% element.name %]"
            value="[% quest_data.item( element.name ) | html %]"
            size="[% element.length %]"
            maxlength="[% element.size %]"
            />
    </td>
</tr>
